<div id="content">
  <div id="content2">
    <div id="inner">
      <div id="inner2">
        <div class="container">
          <div class="row">
            <div class="span9">
              <h1>企业简介</h1>
              <div class="thumb3">
                <div class="thumbnail clearfix">
                  <figure class="img-polaroid"><%= image_tag('company01.jpg')%></figure>
                  <div class="caption">
                    <h4>
                      武威柏树庄醋业有限责任公司地处甘肃省武威市凉州区黄羊镇。公司地理位置优越，交通便利，现为省内酿造食醋产能较大的企业。公司始建于1983年2月，经过二十多年的艰苦创业和不懈努力，树立了“柏树庄”牌酱油、熏醋的优良品牌和良好形象
                    </h4>
                    <p>
                      柏树庄有机农场是柏树庄闭环循环农业中重要的一环，处于酿造、发酵、等诸多环节的最后一步，柏树庄有机蔬菜严格按照有机生产规程，禁止使用任何化学合成的农药、化肥，以及基因工程生物及其产物；我们遵循自然规律和生态学原理，采取一系列可持续发展的农业技术，协调种植平衡，2003年12月“柏树庄”酿造食醋被中国绿色食品发展中心认定为“绿色食品”证书号：LB-56-0312271508A。
                    </p>              
                  </div>
                </div>
              </div>
              <div class="line1"></div>
              <h2>所获奖项、证书</h2>
              <div class="row">
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><%= image_tag('company02.jpg')%></figure>
                      <div class="caption">
                        <div class="txt1">Thomas Mitch</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><%= image_tag('company03.jpg')%></figure>
                      <div class="caption">
                        <div class="txt1">Patrik williams</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><%= image_tag('company04.jpg')%></figure>
                      <div class="caption">
                        <div class="txt1">Adam smith</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="row">
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><%= image_tag('company05.jpg')%></figure>
                      <div class="caption">
                        <div class="txt1">Laura smith</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><%= image_tag('company06.jpg')%></figure>
                      <div class="caption">
                        <div class="txt1">jesica rodos</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><%= image_tag('company07.jpg')%></figure>
                      <div class="caption">
                        <div class="txt1">Peter meno</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>      
            </div>
            <div class="span3">
              <h3>企业新闻</h3>
              <div class="thumb5">
                <div class="thumbnail clearfix">
                  <figure class="img-polaroid"><%=image_tag(@jour.image_url(:middle))%></figure>
                  <div class="caption">
                    <h4>
                      <%= @jour.title %>
                    </h4>
                    <p>
                      <%= raw @jour.content.truncate(400)%>
                    </p>
                    <div class="text-right"><a href="#" class="button1">查看详细</a></div>
                  </div>
                </div>
              </div>
              <div class="line1"></div>
              <div class="thumb6">
                <div class="thumbnail clearfix">
                  <figure class=""><%= image_tag('company09.png')%></figure>
<!--                   <div class="caption2">
                    Contacts
                  </div>
                  <div class="caption">
                    <div class="txt1">
                      8901 Marmora Road,<br>
                      Glasgow, D04 89GR.<br>
                      +39 1234 567 890
                    </div>
                    <a href="#" class="button0">mail us</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>