<%= content_for :header  do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=A9e3c2846f0b707f92a5c6c54dbd9d11"></script>
<% end %>
<div id="content">
  <div id="content2">
    <div id="inner">
      <div id="inner2">
        <div class="container">
          <div class="row">
            <div class="span9">
              <h1>关于我们</h1>
              <div class="thumb3">
                <div class="thumbnail clearfix">
                  <figure class="img-polaroid about-pic" id='about-pic'><%= image_tag('clients01.jpg')%></figure>
                  <div class="caption">
                    <h4>
                      柏树庄醋业有限责任公司始建于1983年。30多年来，我们始终秉承食品行业是良心行业的责任心，坚守100%纯粮酿造的加工工艺，在公众心目中树立了“柏树庄”调味品的良好形象，打造出一块西北安全食品的金字招牌！
                    </h4>
                    <p>
                      公司地处甘肃武威黄羊绿色食品科技示范区，酱醋生产线占地33亩；18条全机械化固态发酵生产线年均生产食醋能力超10000吨；绿色环保太阳能高盐稀态酱油生产线10条，年生产能力超3000吨；20条自主研发的固淋式全自动白醋生产线年酿造白醋能力超5000吨，公司产能省内第一。 除酱醋生产线外，柏树庄在酱醋生产线基础上打造柏树庄循环产业经济园，该园区集酱醋生产、沼气发酵、牛羊养殖及果蔬养植于一身。是甘肃省乃至全国都领先的低污染、环保技术型高新循环产业园。
                    </p>              
                  </div>
                </div>
              </div>
              <div class="line1"></div>
              <h2>所获证书</h2>
              <div class="row">
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('clients02.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          根据《甘肃省著名商标认定和保护条例》的规定，认定柏树庄为甘肃省著名商标
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('clients03.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          经中国绿色食品发展中心审核，柏树庄熏醋获得绿色食品A级标准，被认定为绿色食品A级产品
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('clients04.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          柏树庄产品已通过凉州区民族宗教局、凉州市伊斯兰教协会颁发的清真食品资格证，证书号064
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>                              
              </div>
              <div class="row">
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('clients05.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('clients06.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('clients07.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>                              
              </div>  
              <div class="line1"></div>
              <h2>合作伙伴</h2>
              <div class="row">
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('partner01.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('partner02.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('partner03.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>                              
              </div>
              <div class="row">
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('partner04.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('partner05.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb5">
                    <div class="thumbnail clearfix">
                      <figure class="img-polaroid"><%= image_tag('clients07.jpg')%></figure>
                      <div class="caption">                 
                        <p>
                          Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                        </p>                  
                      </div>
                    </div>
                  </div>
                </div>                              
              </div>                          
            </div> 
            <div class="span3">
              <h3>最新新闻</h3>
              <% @jours.each do |jour|%>
                <div class="thumb5">
                  <div class="thumbnail clearfix">
                    <% if image_tag jour.image_url(:thumb)%>
                      <figure class="img-polaroid"><%= image_tag jour.image_url(:thumb)%></figure>
                    <% end %>
                    <div class="caption">
                      <h4><a href="/journalisms/<%=jour.id.to_s%>"><%= jour.title %></a></h4>
                      <div><%= raw jour.content.truncate(300)  %></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div> <!-- span3 -->
          </div> <!-- row -->
          <div class="line1"></div>
          <div class="row">
            <h3>联系我们</h3>
            <div class="google_map span9" id='baidu_map'></div>
            <div class="span3">
              <h4>甘肃省武威市凉州区黄羊镇黄羊村</h4>
              <p>
                电话: 0935-2611598
              </p>
              <p>客服: 400-887-2060</p>                
            </div>
          </div> <!-- row -->         
        </div> <!-- container -->
      </div>   <!-- inner2 -->
    </div> <!-- inner -->
  </div> <!-- content2 -->  
</div><!-- content -->
<script type='text/javascript'>
  var map = new BMap.Map("baidu_map");          // 创建地图实例  
  var myGeo = new BMap.Geocoder();      
  // 将地址解析结果显示在地图上，并调整地图视野    
  myGeo.getPoint("甘肃武威市凉州区黄羊镇黄羊村", function(point){      
      if (point) {      
          map.centerAndZoom(point, 15);  
          var marker = new BMap.Marker(point);  // 创建标注    
          map.addOverlay(marker); 
          marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
      setTimeout(function(){
        map.setZoom(17);   
      }, 2000);  //2秒后放大到14级        
      map.enableScrollWheelZoom(true);
        }      
      }, "甘肃武威市");
</script>