<%= content_for :header  do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=A9e3c2846f0b707f92a5c6c54dbd9d11"></script>
<% end %>
<div id="content">
	<div id="content2">
		<div id="inner">
			<div id="inner2">
				<div class="container">
					<div class="row">
						<div class="span9">
							<h1>关于我们</h1>
							<div class="thumb3">
								<div class="thumbnail clearfix">
									<figure class="img-polaroid"><%= image_tag('clients01.jpg')%></figure>
									<div class="caption">
										<h4>
											武威柏树庄醋业有限责任公司地处甘肃省武威市凉州区黄羊镇。公司地理位置优越，交通便利，现为省内酿造食醋产能较大的企业。公司始建于1983年2月，经过二十多年的艰苦创业和不懈努力，树立了“柏树庄”牌酱油、熏醋的优良品牌和良好形象。
										</h4>
										<p>
											柏树庄有机农场是柏树庄闭环循环农业中重要的一环，处于酿造、发酵、等诸多环节的最后一步，柏树庄有机蔬菜严格按照有机生产规程，禁止使用任何化学合成的农药、化肥，以及基因工程生物及其产物；我们遵循自然规律和生态学原理，采取一系列可持续发展的农业技术，协调种植平衡，2003年12月“柏树庄”酿造食醋被中国绿色食品发展中心认定为“绿色食品”证书号：LB-56-0312271508A。 
										</p>							
									</div>
								</div>
							</div>
							<div class="line1"></div>
							<h2>所获证书</h2>
							<div class="row">
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients02.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients03.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients04.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>															
							</div>
							<div class="row">
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients05.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients06.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients07.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>															
							</div>						
						</div>
            <div class="span3">
              <h3>联系人</h3>
              <div class="thumb5">
                <div class="thumbnail clearfix">
                  <figure class="img-polaroid"><%= image_tag('contacts01.jpg')%></figure>
                  <div class="caption">
                    <h4>
                      企业生产负责人 
                    </h4>
                    <p>
                      这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息 这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息这里是企业生产负责任人相关信息  
                    </p>
                  </div>
                </div>
              </div>
              <div class="line1"></div>
              <div class="thumb5">
                <div class="thumbnail clearfix">
                  <figure class="img-polaroid"><%= image_tag('contacts02.jpg')%></figure>
                  <div class="caption">
                    <h4>
                      销售负责人
                    </h4>
                    <p>
                      这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息这里是销售负责人相关信息 
                    </p>
                  </div>
                </div>
              </div>
            </div>
					</div>
					<div class="line1"></div>
          <div class="row">
            <div class="span12">
              <h3>联系地址</h3>
              <div class="google_map" id='baidu_map'></div>
              <h4>甘肃省武威市凉州区黄羊镇黄羊村</h4>
              <p>
                电话: 0935-2611598 &nbsp;&nbsp;客服: 400-887-2060
              </p>
              <!--
              <div class="line1"></div>
              <h2>留言</h2>
              <div id="note"></div>
              <div id="fields">
                <form id="ajax-contact-form" class="form-horizontal" action="javascript:alert('success!');">
                  <div class="row">
                    <div class="span6">
                      <div class="control-group">
                          <label class="control-label" for="inputName">姓名:</label>
                          <div class="controls">              
                            <input class="span5" type="text" id="inputName" name="name" value="请输入您的姓名:" onBlur="if(this.value=='') this.value='请输入您的姓名:'" onFocus="if(this.value =='请输入您的姓名:' ) this.value=''">
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="inputEmail">邮箱:</label>
                          <div class="controls">              
                            <input class="span5" type="text" id="inputEmail" name="email" value="请输入您的邮箱:" onBlur="if(this.value=='') this.value='请输入您的邮箱:'" onFocus="if(this.value =='请输入您的邮箱:' ) this.value=''">
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="inputPhone">电话:</label>
                          <div class="controls">              
                            <input class="span5" type="text" id="inputPhone" name="phone" value="请输入您的电话:" onBlur="if(this.value=='') this.value='请输入您的电话:'" onFocus="if(this.value =='请输入您的电话:' ) this.value=''">
                          </div>
                      </div>
                    </div>
                    <div class="span6">
                      <div class="control-group">
                          <label class="control-label" for="inputMessage">内容:</label>
                          <div class="controls">                            
                            <textarea class="span6" id="inputMessage" name="content" onBlur="if(this.value=='') this.value='请输入内容:'"  onFocus="if(this.value =='请输入内容:' ) this.value=''">请输入内容:</textarea>
                          </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="submit"><em></em>提交</button>
                </form>
              </div>
							-->
            </div>
          </div>					
				</div>
			</div>	
		</div>
	</div>	
</div>
<script type='text/javascript'>
  var map = new BMap.Map("baidu_map");          // 创建地图实例  
  var myGeo = new BMap.Geocoder();      
  // 将地址解析结果显示在地图上，并调整地图视野    
  myGeo.getPoint("甘肃武威市凉州区黄羊镇黄羊村", function(point){      
      if (point) {      
          map.centerAndZoom(point, 15);  
          var marker = new BMap.Marker(point);  // 创建标注    
          map.addOverlay(marker); 
          marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
      setTimeout(function(){
        map.setZoom(17);   
      }, 2000);  //2秒后放大到14级        
      map.enableScrollWheelZoom(true);
        }      
      }, "甘肃武威市");
</script>