<div id="content">
	<div id="content2">
		<div id="inner">
			<div id="inner2">
				<div class="container">
					<div class="row">
						<div class="span9">
							<h1>成为我们的合作伙伴</h1>
							<div class="thumb3">
								<div class="thumbnail clearfix">
									<figure class="img-polaroid"><%= image_tag('clients01.jpg')%></figure>
									<div class="caption">
										<h4>
											Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 			dolore magna. Ipsum dolor sit.
										</h4>
										<p>
											amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 			enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat 			consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissimet, est. Aenean semper aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis 
										</p>							
									</div>
								</div>
							</div>
							<div class="line1"></div>
							<h2>我们的伙伴</h2>
							<div class="row">
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients02.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients03.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients04.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>															
							</div>
							<div class="row">
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients05.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients06.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>
								<div class="span3">
									<div class="thumb5">
										<div class="thumbnail clearfix">
											<figure class="img-polaroid"><%= image_tag('clients07.jpg')%></figure>
											<div class="caption">									
												<p>
													Met conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
												</p>									
											</div>
										</div>
									</div>
								</div>															
							</div>						
						</div>
						<div class="span3">
							<h3>Special Offers</h3>
							<div class="thumb5">
								<div class="thumbnail clearfix">
									<figure class="img-polaroid"><%= image_tag('clients08.jpg')%></figure>
									<div class="caption">
										<h4>
											Lorem ipsum dolor sit amet conse ctetur adipisicing 
										</h4>
										<p>
											amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 			exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. 
										</p>
										<div class="text-right"><a href="#" class="button1">Details</a></div>
									</div>
								</div>
							</div>
							<div class="line1"></div>
							<h2>Usfull Info</h2>
							<h4>Lorem ipsum dolor sit amet conse ctetur adipisicing </h4>
							<p>
								amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 			ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, 			dignissim et, est. Aenean semper aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum vel pede at sapien 			sodales mattis. 
							</p>
							<div class="text-right"><a href="#" class="button1">Details</a></div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>	
</div>