  <div id="content">
    <div id="content2">
      <div id="inner">
        <div class="banners">
          <div class="container">
            <div class="row">
              <div class="span4 banner banner1">
                <div class="txt1">柏树庄酱醋</div>
                <figure><%= image_tag('banner1.jpg')%></figure>
                <div class="txt2">100%纯粮酿造工艺</div>
                <div class="txt3">柏树庄醋业已有30多年的生产历史，独特的酱醋酿制工艺，造就了柏树庄酱醋产品鲜美的口感，为您精心提供100%绿色健康的好产品！</div>
                <a href="/product#twp" class="button0">查看</a>
              </div>
              <div class="span4 banner banner2">
                <div class="txt1">柏树庄肉类</div>
                <figure><%= image_tag('banner2.jpg')%></figure>
                <div class="txt2">安全美味的精品肉制品</div>
                <div class="txt3">
                  柏树庄肉制品建立在循环产业之上，通过科学养殖，精心培育牛羊，为广大用户提供安全可靠美味的牛羊肉
                </div>
                <a href="/product#meat" class="button0">查看</a>
              </div>
              <div class="span4 banner banner3">
                <div class="txt1">柏树庄果蔬</div>
                <figure><%= image_tag('banner3.jpg')%></figure>
                <div class="txt2">只用有机肥精心培育</div>
                <div class="txt3">
                  柏树庄有机蔬菜是循环产业中重要的果蔬生产环节，在蔬菜种植中，我们只用天然有机肥，确保您选用的食材安全、健康
                </div>
                <a href="/product#fruit" class="button0">查看</a>
              </div>  
            </div> 
            <div class="row">
              <div class="span4 banner banner1">
                <div class="txt1">柏树庄面粉</div>
                <figure><%= image_tag('banner4.jpg')%></figure>
                <div class="txt2">精选优质小麦</div>
                <div class="txt3">柏树庄醋业位于全国著名的商品粮基地：甘肃武威。这里日照充盈，小麦品质在全国处于优势地位；柏树庄精选优质小麦为原料，通过精加工，保证了品质卓越的食用面粉</div>
                <a href="/product#flour" class="button0">查看</a>
              </div>
              <div class="span4 banner banner2">
                <div class="txt1">柏树庄农副产品</div>
                <figure><%= image_tag('banner5.jpg')%></figure>
                <div class="txt2">精选、优选；好处不贵</div>
                <div class="txt3">
                  柏树庄可以为广大用户提供优质农副产品。例如、挂面、紫菜、橄榄菜等；通过优选、精选，保证品质是我们不变的追求
                </div>
                <a href="/product#agricultural" class="button0">查看</a>
              </div>
              <div class="span4 banner banner3">
                <div class="txt1">柏树庄食用油</div>
                <figure><%= image_tag('banner6.jpg')%></figure>
                <div class="txt2">绿色安全的食用油</div>
                <div class="txt3">
                  柏树庄食用油原料均采用天然无公害的优质玉米胚芽等。生产过程中，我们确保每一个加工环节都安全可靠，最终为用户提供优质食用油
                </div>
                <a href="/product#oil" class="button0">查看</a>
              </div>  
            </div>               
          </div>  
        </div>
        <div id="inner2">
          <div class="container">
            <div class="row">
              <div class="span8">
                <h1 class="home">欢迎来到柏树庄<br><span>食品行业是良心行业</span></h1>
                <h4>
                  武威柏树庄醋业有限责任公司地处甘肃省武威市凉州区黄羊镇。公司地理位置优越，交通便利，现为省内酿造食醋产能较大的企业。公司始建于1983年2月，经过二十多年的艰苦创业和不懈努力，树立了“柏树庄”牌酱油、熏醋的优良品牌和良好形象
                </h4>
                <p>
                  公司固定资产420万元，流动资金150万元。公司占地面积20000平方米，建筑面积10000平方米，有800平方米的综合办公大楼一幢。2000年，公司引进了4条机械化生产线，经过公司科研部门2年的研究，于2002年底完成了由传统生产方式转变为机械化生产技术改革。2006年5月，公司生产的“柏树庄”酿造食醋再次被中国绿色食品发展中心认定为绿色食品（现为甘肃省食醋行业唯一绿色食品）。
                </p>
                <a href="/about" class="button1">了解更多</a>
                <div class="line1"></div>
                <h2 class="home">柏树庄循环农业</h2>
                <div class="thumb1">
                  <div class="thumbnail clearfix">
                    <figure class="img-polaroid"><%= image_tag('home01.jpg')%></figure>
                    <div class="caption">
                      <h4>
                        柏树庄循环农业是甘肃省重点扶持项目，目前已完成基础建设，全线投入生产运营；公司是西北首家成功实现机械化生产的酿造企业，现有18条机械化生产线，已全面转型现代化循环农业机制。
                      </h4>
                      <p>
                        柏树庄闭环循环农业是相对于传统农业发展提出的一种新的发展模式，是生态学、生态经济学、生态技术学原理及其基本规律的完美展示,柏树庄循环农业模式在保护生态环境和充分利用高新技术的基础上，能够调整和优化农业生态系统内部结构及产业结构，提高农业生态系统物质和能量的多级循环利用，严格控制外部有害物质的投入和农业废弃物的产生，最大限度地减轻环境污染。
                      </p>
                      <a href="#" class="button1">查看详细</a>
                    </div>
                  </div>
                </div>
                <div class="thumb1">
                  <div class="thumbnail clearfix">
                    <figure class="img-polaroid"><%= image_tag('home02.jpg')%></figure>
                    <div class="caption">
                      <h4>
                        柏树庄循环农业是甘肃省重点扶持项目，目前已完成基础建设，全线投入生产运营；公司是西北首家成功实现机械化生产的酿造企业，现有18条机械化生产线，已全面转型现代化循环农业机制。
                      </h4>
                      <p>
                        柏树庄有机农场是柏树庄闭环循环农业中重要的一环，处于酿造、发酵、等诸多环节的最后一步，柏树庄有机蔬菜严格按照有机生产规程，禁止使用任何化学合成的农药、化肥，以及基因工程生物及其产物；我们遵循自然规律和生态学原理，采取一系列可持续发展的农业技术，协调种植平衡，2003年12月“柏树庄”酿造食醋被中国绿色食品发展中心认定为“绿色食品”证书号：LB-56-0312271508A。
                      </p>
                      <a href="#" class="button1">查看详细</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span4">
                <h3 class="home">柏树庄新闻<!-- <br><span>Latest news and events</span> --></h3>
                <% @journalisms.each do |jour|%>
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure class=""><%= image_tag jour.image_url(:thumb)%></figure>
                      <div class="caption">
                        <h4>
                          <a href="/journalisms/<%=jour.id.to_s%>"><%= jour.title %></a>
                        </h4>
                        <!--                         
                        <div>
                          <%#= raw jour.content.truncate(100)  %>
                        </div> 
                        -->              
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="text-right"><a href="/journalisms" class="button1">更多新闻</a></div>
                <div class="line1"></div>
                <h3>联系我们</h3>
                <div class="accordion" id="accordion1">
                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                            电话:0935-2611598
                          </a>
                      </div>
                  </div>
                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                            地址:甘肃武威市凉州区黄羊镇黄羊村八组
                          </a>
                      </div>
                  </div>
                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                            客服:400 887 2060 
                          </a>
                      </div>
                  </div>  
                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                            传真:0935-2612598
                          </a>
                      </div>
                  </div>                            
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>  
  </div>