<% content_for :header  do %>
<script type='text/javascript'>
  $(window).load(function() {
    var cate = window.location.href.split('#')
    if (cate.length > 1){
      cate = '.' + cate[1]; //具体的某个分类
    }else{
      cate = '.twp' ;//调味品分类
    }

    $('#isotope-filters a[data-filter="' + cate + '"]').addClass('selected');
    var $container = $('#isotope-items'),
    $optionSet = $('#isotope-options'), 
    $optionSets = $('#isotope-filters'), 
    $optionLinks = $optionSets.find('a'); 
    $container.isotope({ 
      filter: cate
    });  
    $optionLinks.click(function(){ 
      var $this = $(this); 
      if ( $this.hasClass('selected') ) { 
        return false; 
      }       
      $optionSet.find('.selected').removeClass('selected'); 
      $this.addClass('selected');
      var selector = $(this).attr('data-filter'); 
      $container.isotope({ 
          filter: selector            
      }); 
      return false; 
    });     
    $(window).on("resize", function( event ) {  
      $container.isotope('reLayout');   
    });   
    $('.thumb-isotope .thumbnail a').touchTouch();
  });
</script>
<% end %>

<div id="content">
  <div id="content2">
    <div id="inner">
      <div id="inner2">
        <div class="container">
          <div class="row"> 
            <div class="span12">
              <h1>我们的产品</h1>
              <div id="isotope-options">
                  <ul id="isotope-filters" class="clearfix">
                    <li><a href="#" data-filter=".twp">调味品</a></li> 
                    <li><a href="#" data-filter=".meat">肉类</a></li> 
                    <li><a href="#" data-filter=".fruit">果蔬</a></li>
                    <li><a href="#" data-filter=".flour">面粉</a></li> 
                    <li><a href="#" data-filter=".agricultural">农副产品</a></li> 
                    <li><a href="#" data-filter=".oil">食用油</a></li>                                      
                  </ul>            
              </div>
              <ul class="thumbnails" id="isotope-items">      
                <li class="span3 isotope-element isotope-filter1 twp">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery01.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  twp">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery02.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  twp">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery03.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  twp">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery04.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  twp">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery05.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  twp">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery06.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  meat">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery07.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  meat">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery08.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  meat">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery09.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  meat">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery10.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  meat">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery11.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  meat">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery12.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1 fruit">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery01.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  fruit">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery02.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  fruit">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery03.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  fruit">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery04.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  fruit">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery05.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  fruit">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery06.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  flour">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery07.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  flour">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery08.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  flour">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery09.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  flour">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery10.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  flour">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery11.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  flour">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery12.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li> 
                <li class="span3 isotope-element isotope-filter1 agricultural">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery01.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  agricultural">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery02.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  agricultural">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery03.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  agricultural">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery04.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  agricultural">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery05.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  agricultural">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery06.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  oil">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery07.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  oil">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery08.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  oil">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery09.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter1  oil">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery10.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter2  oil">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery11.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3 isotope-element isotope-filter3  oil">
                  <div class="thumb-isotope">
                    <div class="thumbnail clearfix">
                      <a href="<%= asset_path('blank.png')%>">
                        <figure>
                          <%= image_tag('gallery12.jpg')%><em></em>
                        </figure>
                      </a>
                      <div class="caption">
                        <div class="txt1">
                          Product name
                        </div>
                        <div class="txt2">
                          Lorem ipsun lore funte don it, sed diam nonummy 
                        </div>
                        <div class="txt3">
                          Price: $50
                        </div>
                      </div>
                    </div>
                  </div>
                </li>                                            
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div> 
  </div>  
</div>