<%= form_for([:admin,@product],:html => {:class => 'product_form'}) do |f| %>

  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>产品名称<span class="text-danger">*</span></label><br> 
      <%= f.text_field :name,:class => 'col-xs-12' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= f.hidden_field :category_id,:class => 'col-xs-12' %>
      <label>所属分类<span class="text-danger">*</span></label><br>  
      <div class="dropdown my-dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <span class="opt"><%= @product.category.try(:name) || '请选择分类'%></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <% @categories.each do |category|%>
            <li role="presentation" data-category='<%= category.id.to_s%>'><a role="menuitem" tabindex="-1" href="javascript:void(0);"><%= category.name%></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>  

  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>产地<span class="text-danger">*</span></label><br> 
      <%= f.text_field :address,:class => 'col-xs-12' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>产量(单位瓶/个)<span class="text-danger">*</span></label><br> 
      <%= f.number_field :count,:class => 'col-xs-12' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>批次<span class="text-danger">*</span></label><br> 
      <%= f.text_field :batch,:class => 'col-xs-12' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>原料(逗号隔开)<span class="text-danger">*</span></label><br> 
      <%= f.text_field :material,:class => 'col-xs-12' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>保质期(月)<span class="text-danger">*</span></label><br> 
      <%= f.number_field :guarantee,:class => 'col-xs-12' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>出厂时间<span class="text-danger">*</span></label><br> 
      <%= f.text_field :mtime,:class => 'col-xs-12' %>
    </div>
  </div>
  <div class="from-group row">
    <%= f.hidden_field :customer_id,:class => 'col-xs-12' %>
    <div class="col-xs-4 col-xs-offset-4">
      <label>收货人<span class="text-danger">*</span></label><br>
      <select id="sproduct_customer_id" multiple="multiple">
          <% @customers.each do |customer|%>
            <option value="<%= customer.id.to_s %>" <% if @product.customer_id.to_s == customer.id.to_s %>selected="selected" <% end %>><%= customer.username%>(<%= customer.address%>)</option>
          <% end %>
      </select>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <label>其他信息</label><br>
      <%= f.text_area :description,:class => 'col-xs-12' %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-xs-4 col-xs-offset-4">
      <a href="javascript:void(0);" class="btn btn-primary btn-block">提交</a>
    </div>
    
  </div>
<% end %>